@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

html{
  min-height: 100%
}

body{
  background-image: url('/assets/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  background color: #E6E6E6;
}

.logo{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  max-width: 90%;
  animation: fadeIn .5s;
}
